@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

.test {
    border: 1px solid #000000;
}

.navbar {
    background-color: #ffffff;
    border: 1px solid #000000;
}

.kurale-font {
    font-family: 'Kurale', serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #F9FAFC;
}

.brand {
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #ce3266;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #ffffff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 0px;
    background-color: #F9FAFC;
}

.link-card {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #F9FAFC;
}

.link-card:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 15px #445261;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: 3px;
    background-color: #ce3266;
    border-radius: 2px;
    padding: 2px;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: #ffffff;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #ce3266;
}

.page-link {
    color: #ce3266;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #d3d3d3;
}

.btn-signup {
    background-color: #ce3266;
    color: #ffffff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ffffff;
    color: #ce3266;
}

.link {
    color: #ce3266;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #ce3266;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #ce3266;
    background: transparent;
    border: none;
}